<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" android:installLocation="auto">

  <!-- ARCore Permissions -->
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-feature android:name="android.hardware.camera" android:required="true"/>
  <uses-feature android:name="android.hardware.camera.autofocus" android:required="true"/>
  
  <!-- Oculus Permissions (only if you need specific Oculus features, you can leave these if using them) -->
  <uses-permission android:name="com.oculus.permission.HAND_TRACKING"/>
  <uses-permission android:name="com.oculus.permission.USE_ANCHOR_API"/>
  <uses-permission android:name="com.oculus.permission.USE_SCENE"/>
  
  <!-- Application configuration -->
  <application android:label="@string/app_name" android:icon="@mipmap/app_icon" 
               tools:replace="android:allowBackup" android:allowBackup="false">
    
    <!-- Main Activity -->
    <activity android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" 
              android:configChanges="locale|fontScale|keyboard|keyboardHidden|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode" 
              android:launchMode="singleTask" 
              android:name="com.unity3d.player.UnityPlayerActivity" 
              android:excludeFromRecents="true" 
              android:exported="true">
      
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      
    </activity>
    
    <!-- ARCore Meta-Data -->
    <meta-data android:name="com.google.ar.core" android:value="true" />
    
    <!-- Other optional meta-data related to hand-tracking and AR-specific needs -->
    <meta-data android:name="com.oculus.handtracking.frequency" android:value="HIGH" />
    <meta-data android:name="com.oculus.handtracking.version" android:value="V2.0" />
    
  </application>

  <!-- ARCore Feature Requirement -->
  <uses-feature android:name="android.hardware.camera.ar" android:required="true"/>

</manifest>